/*
This file is part of IK Facebook.

IK Facebook is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

IK Facebook is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with IK Facebook.  If not, see <http://www.gnu.org/licenses/>.
*/

p.ik_fb_error{
	color: red;
	font-style: italic;
	font-size: 12px;
}

#ik_fb_widget {
    height: auto;
    overflow: hidden;
    width: 100%;
}
#ik_fb_widget .ik_fb_feed_item {
    border-bottom: 1px dotted #DDDDDD;
    clear: both;
    height: auto !important;
    margin: 0 0 5px;
    padding: 0 5px;
    width: 96%;
}
#ik_fb_widget .ik_fb_feed_item img {
    float: none;
    margin: 0;
}
#ik_fb_widget .ik_fb_profile_picture {
    padding: 10px 4px 0;
    position: relative;
}
#ik_fb_widget .ik_fb_profile_picture img {
    float: left;
    margin: 0 4px 4px 0;
}
#ik_fb_widget .ik_fb_profile_picture .ik_fb_facebook_like {
    float: left;
    margin: 15px 0 0 10px;
}
#ik_fb_widget .ik_fb_profile_picture a {
    color: #3B5998;
    text-decoration: none;
}
#ik_fb_widget .ik_fb_profile_picture a:hover {
    text-decoration: underline;
}
#ik_fb_widget .ik_fb_profile_picture .ik_fb_name {
    font-size: 14px;
    font-weight: bold;
}
#ik_fb_widget .ik_fb_feed_window {
	border-top: 1px solid #DDDDDD;
    height: 199px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    width: auto;
}
#ik_fb_widget .ik_fb_feed_window a, #ik_fb_widget .ik_fb_feed_window a:visited {
    color: #29509E;
    font-weight: bold;
}
#ik_fb_widget .ik_fb_feed_window a:hover {
    text-decoration: underline;
}
#ik_fb_widget .ik_fb_feed_window .ik_fb_facebook_link {
}
#ik_fb_widget .ik_fb_feed_window .ik_fb_facebook_link a {
    font-size: 10px;
}
#ik_fb_widget p {
    font-size: 11px;
    line-height: 1.5em;
    margin: 0;
    padding: 0 0 4px;
	width: auto !important;
}
#ik_fb_widget .ik_fb_facebook_image {
    margin: 0 5px 0 0;
    text-align: center;
}
#ik_fb_widget p.facebook_description {
    color: #999999;
}

#like_button{
	border:none; 
	overflow:hidden; 
	width:99%; 
	height: 45px; 
	margin-left:4px;
}

#ikfb_powered_by{
	display: block;
    font-size: 10px;
    margin: 0 auto;
    text-align: center;
}

#ik_fb_widget .ikfb_read_more{
	display: block;
	font-size: 12px;
}

.ikfb_user_avatar,
#ik_fb_widget .ik_fb_feed_item  .ikfb_user_avatar{
	float: left;
	margin: 0 5px 5px 0;
}

/* Comments */

.ikfb_user_avatar,
#ik_fb_widget .ik_fb_feed_item  .ikfb_user_avatar{
	float: left;
	margin: 0 5px 5px 0;
}

.ikfb_comments,
.ikfb_likes{
	font-size: 12px;
	margin: 5px 5px 5px 0;
}

.ikfb_comment_list{
	list-style: none outside none;
    padding: 0 0 0 10px;
}

.ikfb_comment{
	clear: both;
}

#ik_fb_widget .ik_fb_feed_item .ikfb_user_comment_avatar{
	float: left;
    margin: 0 5px 5px 0;
}

.ikfb_comment_author{
	font-weight: bold;
}

.ikfb_comment_message{
}

.ikfb_comment_date{
}

.ikfb_clear{
	clear: both;
	display: block;
}